body, html {
  margin: 0;
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

div {
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,0.2);
}

ul {
  margin: 0;
}

/* Form */

.txt, form > div {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
}

.btn {
  font-size: 16px;
  padding: 6px 6px;
}
